

/* HEADER MEDIA */

@media (max-width: 991.98px) {
    .nav
    .nav-list {
        column-gap: 10px;
    }

    .nav-item
    .nav-link {
        font-size: 16px;
    }
}

@media (max-width: 767.98px) {
    .nav
    .nav-list{
        display: none;
    }

    .nav
    .nav-button {
        display: block;
    }

    .nav.open .nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        position: fixed;
        padding: 0 20px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: white;
        
    }

    .nav-item {
        width: 100%;
        text-align: center;
        padding-bottom: 14px;
        border-bottom: 0.585938px solid #7B7B7B;
    }

    .nav-button {
        position: fixed;
        z-index: 100;
        top:49px;
        right: 30px;
    } 

}


/* HEADER CONTENT  */

@media (max-width: 991.98px) {

    .header-row {
        flex-direction: column;
    }

    .header-row
    .header-content {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .header-row
    .header-slider {
        margin-top: 20px;
    }


}